.App {
  width: 100%;
  height: 100%;
}
.movie-input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 1rem 0;
  }
  .movie-input {
    width: 300px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0.5rem;
    input {
      width: 100%;
      height: 100%;
      border: none;
      font-size: 1.2rem;
      &:focus {
        outline: none;
      }
    }
  }
  .movie-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.movies-container {
  width: 1024px;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 2rem;
  }

  #left-movie-container,
  #right-movie-container {
    width: 100%;
  }
  .movie-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 0.75rem;
    .movie-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    button {
      width: 100%;
      height: 40px;
      border: none;
      border-radius: 5px;

      color: #fff;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      &:focus {
        outline: none;
      }
    }
  }
}
